img {
    background-repeat: no-repeat;
}

#coffees {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    background: rgba(124, 78, 37, 0.56);
}

h5 {
    margin-bottom: 0;
}

p{
    padding-left: .5em;
}

#submit {
    border: 1px solid transparent;
    border-radius: 3px;
}

#submit2 {
    border: 1px solid transparent;
    border-radius: 3px;
}

body {
    background-image: url("pexels-jason-villanueva-851555.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    /*color: #93795e;*/
    color: #642d0b;
}

h1 {
    /*color: white;*/
    text-align: center;
    color: #BC6C25;

}

.coffee-roast {
    color: #11e171;

    text-align: center;

}

strong{
    color:#64c792 ;
    padding: .1em;
    text-align: center;
    /*background-color:rgb(147, 121, 94) ;*/
    border:1px solid transparent;
    border-radius: .3em;
}



#form-background {
    /*background: rgba(255, 255, 255, 0.5);*/

}

label {
    padding: .5em;
}

.coffee-name{
    color: #e7ad8d;
}

