img {
    background-repeat: no-repeat;
}

#coffees {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.5);
}

h5 {
    background-color: hotpink;
    margin-bottom: 0;
}

p{
    padding-left: .5em;
}

#submit {
    border: 1px solid transparent;
    border-radius: 3px;
}

#submit2 {
    border: 1px solid transparent;
    border-radius: 3px;
}

body {
    background-image: url("pexels-jason-villanueva-851555.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    color: #8d7964;

}

h1 {
    color: white;
}

.coffee-roast {
    color: saddlebrown;
}

label {
    color: #8d623c;
}

#form-background {
    background: rgba(255, 255, 255, 0.5);

}