img {
    background-repeat: no-repeat;
}

#coffees {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h5 {
    background-color: hotpink;
    margin-bottom: 0;
}

p{
    padding-left: .5em;
}

#submit {
    border: 1px solid transparent;
    border-radius: 3px;
}

#submit2 {
    border: 1px solid transparent;
    border-radius: 3px;
}

